header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 102px;
    padding: 6px;
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f3f3f3;
}

#filters {
    padding: 32px;
    display: flex;
}

#filter-two, #filter-three {
    padding-left: 32px;
}

 #filter-three > #hint{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color: gray;
}

.filter_input > input, .filter_input > select{
    height: 49.6px;
    border-radius: 5px;
    border-color: gray;
}

#name-error, #pop-error {
    color: red;
}

#country-cards-container {
    margin: 0px, 32px, 32px, 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#show-more-btn{
    height: 38.4px;
}

span {
    font-weight: bold;
}

.country-card {
    width: 1fr;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #e0e0e0;
}

.country-card > img {
    padding-top: 28.8px;
    padding-left: 32px;
    padding-right: 32px;
    width: 200px;
    height: 105px;
}

.country-card > p, .country-card > h2 {
    padding-left: 21.5px;
}

#content > p{
    font-family: Arial, Helvetica, sans-serif;
}

#content > #detail {
    font-weight: bold;
    font-size: large;
}

#content > img{
   width: 500px; 
}

#content > h1 {
    margin: auto;
}

#content {
    display: grid;
    justify-content: center;
    align-items: center;
}

#back-btn-container {
    padding-top: 32px;
}

#back-btn {
    height: 38.4px;
}

