header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 102px;
    padding: 6px;
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

#filters {
    padding: 32px;
    display: flex;
}

#filter-two, #filter-three {
    padding-left: 32px;
}

 #filter-three > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color: gray;
}

.filter_input > input, .filter_input > select{
    height: 49.6px;
    border-radius: 5px;
    border-color: gray;
}

#country_cards_container {
    padding: 0px, 32px, 32px, 32px;
}

#show-more-btn{
    
}


